# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large data files
# (Small enough to include in repo)
# data/*.pkl
# data/*.pth
embeddings/*.txt
# embeddings/*.bin
# embeddings/*.npy

# Trained models (heavy)
# (Classic models are small enough (~5MB) to include in repo)
# models/*.pt
# models/*.bin
models/transformer_ner/

# Logs
# (Included in repo)
# logs/*.json
# logs/*.txt

# Outputs
# (Included in repo)
# outputs/*.csv
# outputs/*.json

# OS files
.DS_Store
Thumbs.db

# Environment
.env
venv/
.venv/
